@import "tailwindcss";

body {
  background-color: #0f172a;
  color: #f8fafc;
}

@media print {
  body * {
    visibility: hidden;
  }
  #printable-receipt, #printable-receipt * {
    visibility: visible;
  }
  #printable-receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
  }
  @page {
    margin: 0;
  }
}
